[pull]
	rebase = true

[include]
	path = ~/.gitconfig.local

[gtr]
	provider = github
[gtr "copy"]
	include = **/.env*
	exclude = **/.env.example
[gtr "hook"]
	postCreate = gtr-postcreate
	preRemove = gtr-preremove
	postRemove = gtr-postremove
